<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <!-- ------------------------Read one (step 1 of 3)------------------------------- -->
    <!-- logged_in_user comes from the controller/route, .first_name comes from the class method constructor  -->
    <h1 class="text-center">Welcome {{logged_in_user.first_name}} {{logged_in_user.last_name}}</h1>

    <!------------------Logout (step 1 of 2)----------------- -->
    <a href="/logout" class="btn btn-info">Logout</a>


    <!-- For the stock API, so we can choose the stock ticker  -->
    <!-- Now when we are using forms we no longer have a action (redirect to new route),
        JavaScript is going out to get what we need -->
        <form  id="myForm" method="post">
            <label for="ticker">Stock Ticker: </label>
            <input type="text" name="ticker">
            <input type="submit" id="submit_btn" value="Submit">
            <!-- When we hit submit button with the specific id="myForm", we want the JavaScript to look for it and then hand off the data to the python file -->
            <!-- Steps 1. html form -> 2. JavaScript-> 3. python Controller ->4. JavaScript -> 5. Html Form-->
        </form>
    <div id="main">
        
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>
</body>
</html>