<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
</head>
<body>
    <a href="/dashboard"class="btn btn-info">Back to dashboard</a>
    <a href="/logout" class="btn btn-info">Logout</a>
    <h1>Watchlist: {{watchlist.name}}</h1>
    {% for one_stock in watchlist.stocks %} 
    <p>{{one_stock.name}}</p>
    <p>{{one_stock.symbol}}</p>
    <p>{{one_stock.exchange}}</p>

{% endfor %}
</body>
</html>