*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
}
/* stock data table */
table{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

.regBox {
    display: flex;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


.whyStocks {
    display: flex;
    margin-top: 50px;
}

img {
    width: 600px;
}

.login {
    display: flex;
    align-items: flex-end;
}